main {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
}
h1,h2 {
    flex-basis: 100%;
    margin: 1em 0;
}

#profile {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}
#profile h1 {
    text-align: center;
    font-size:3em
}

#profile img {
    flex-basis: 100%;
    max-width: 50%; 
    border-radius: 1em;
}

@media (min-width: 768px) {
    #profile img {
        flex-basis: 30%;
        max-width: 30%;
    }

    #profile p {
        flex-basis: 70%;
        padding: 0 1em;

    }
}

/* Projects */
#project-list {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    gap:1em;
}

#project-list article {
    flex-basis: 40%;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #ddd;
    border-radius: 1em;
}

@media (min-width: 768px) {
    #project-list article {
        flex-basis: 30%;
        
    }
}

/* Gallery */
#gallery {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery img {

    max-height: 260px;
    height: auto;

}
#gallery button {
    padding: 1em;
    font-size: 2em;
    border: none;
    background-color: rgba(0,0,0,0);
    color: white;
    cursor: pointer;
}

/* Skills */
#skills {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}


#skills .skill {
    flex-basis: 100%;
    margin: .5rem 0;
}

#skills .bar {
    height: 1em;
    background: #eee;
    overflow: hidden;
}

#skills .fill {
    height: 100%;
    width: 0;
    background: #f00;
    transition: all 5.8s ease;
}