
/* Global settings. */

html {
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.5;
}


*, *::before, *::after {
    box-sizing: inherit;
}


* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 10%;
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: black;
}

li a {
    text-decoration: none;
}


a::before {
    color: white;
}

a, a:active, a:visited{
    color: white;
}



/* Layout settings. */

body {
    
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas: 
    "navbar"
    "main-area";
}

#navbar, #main-area {
    border-style: solid;
}

#navbar {
    grid-area: navbar;
    height: 3rem;
    display: flex;
    justify-content: center;
}

#navbar-ul {
    margin: 1em 0;
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: center;
    align-items: center;
}

#navbar a {
    padding: 0 2rem;
    white-space: nowrap;
}


#main-area {
    grid-area: main-area;
}





















#navbar-ul li{
    display: inline;
}
