<!DOCTYPE html>
<html lang="en">





<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jamie</title>



    <!-- Google font links. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">


    <!-- CSS Stylesheet links. -->
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/jamie.css">

    <!--Vue link-->
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!--Axios link.-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- JavaScript links. -->
    <script src="/javascript/template.js"></script>
    <script defer src="/javascript/jamie.js"></script>
    <script defer src="/vue/jamie-vue.js"></script>
    <script defer src="/vue/jamie-vue.js"></script>






</head>



<body>

    <nav id="navbar">
        <button id="hamburger-btn" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <ul id="navbar-ul">
            <li><a href="/index.html">
                    <span class="icon">🏠</span>
                    <span class="link-text">Home</span>
                </a></li>
            <li><a href="/html/contact.html">
                    <span class="icon">📧</span>
                    <span class="link-text">Contact</span>
                </a></li>
            <li><a href="/html/employee.html">
                    <span class="icon">👥</span>
                    <span class="link-text">Employees</span>
                </a></li>
        </ul>


    </nav>


    <main id="main-area">

        <h1>Chief of science</h1>

        <h2>Jamie</h2>


        <div class="layout">
            <div id="profile-area">
                <div id="profile-image">
                    <img src="/images/jamie/jamieprofile1.png" alt="">
                </div>
                <div id="profile-text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium repudiandae veritatis
                        voluptatibus explicabo, alias nisi. Tempore reiciendis quisquam laboriosam totam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, quas officiis dolore eveniet eaque
                        cum ipsam et illo eum beatae!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, qui. Explicabo ex doloribus
                        voluptate sunt tempora ratione dolores fuga velit?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex animi ullam quos eveniet praesentium?
                        Atque obcaecati ab quos vitae incidunt?</p>
                </div>
            </div>
        </div>

        <div class="layout">
            <div id="skillbar-area">
                <div id="skillbar">
                    <p id="current-skills">Current skills</p>
                    <div class="skill">
                        <div class="skill-name">HTML</div>
                        <div class="skill-per skill-90"></div>
                    </div>
                    <div class="skill">
                        <div class="skill-name">CSS</div>
                        <div class="skill-per skill-90"></div>
                    </div>
                    <div class="skill">
                        <div class="skill-name">JavaScript</div>
                        <div class="skill-per skill-30"></div>
                    </div>
                    <div class="skill">
                        <div class="skill-name">VUE</div>
                        <div class="skill-per skill-60"></div>
                    </div>
                </div>
                <div id="skill-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis possimus ut laudantium dicta
                    repellat labore similique praesentium? Eius assumenda aperiam harum molestias ullam aliquid facilis
                    tempora, eligendi aut distinctio in architecto blanditiis molestiae voluptate. Animi, officia
                    possimus facere ea voluptates vel harum error nisi ab itaque cupiditate impedit magnam consectetur!
                </div>
                <div id="skill-image">
                    <img src="/images/jamie/jamieprofile2.png" alt="">
                </div>
            </div>
        </div>

        <div class="layout">
            <div id="slideshow">
                <p>After inventing the worlds most powerful malware, witness my goals in the gallery</p>
                <div class="slideshow-row">
                    <button id="previous" name="previous" aria-label="Previous">&#129092;</button>
                    <img id="image" src="/images/jamie/jamie1.png" alt="">
                    <button id="next" name="next" aria-label="Next">&#129094;</button>
                </div>
                <p id="caption"></p>
            </div>
        </div>

        <div class="layout">
            <div id="jamie-projects">
                <div id="app">
                    <div class="project-intro">
                        <p>Below are the black budget projects Jamie developed</p>
                    </div>
                    <div class="project-prompt">
                        <p>Please select a letter or type a name to view projects.</p>
                    </div>
                    <div class="project-available">
                        <span v-if="projects.length > 0">
                            <strong>Available projects ({{ projects.length }}):</strong>
                            <span>
                                <template v-for="(project, idx) in projects">
                                    {{ project.name }}<span v-if="idx &lt; projects.length - 1">, </span>
                                </template>
                            </span>
                        </span>
                        <span v-else>No projects available.</span>
                    </div>
                    <div class="project-filters">
                        <label for="filterLetter">Filter by first letter:</label>
                        <select v-model="filterLetter" id="filterLetter">
                            <option value="">All</option>
                            <option v-for="letter in letters" :key="letter" :value="letter">{{ letter }}</option>
                        </select>
                        <label for="filterName">Search by name:</label>
                        <input v-model="filterName" id="filterName" type="text" placeholder="Type project name..." />
                    </div>
                    <div class="project-list">
                        <div :class="['project-row', filteredProjects.length > 1 ? 'row-layout' : '']">
                            <div v-for="project in filteredProjects" :key="project.name" class="project">
                                <p>Project: {{ project.name }}</p>
                                <img :src="project.image" :alt="project.name">
                                <p>{{ project.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </main>













</body>





</html>